/* TABLE IMAGE CSS*/
.tableImage {
  z-index: -1;
  position: absolute;
  top: 15dvh;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 180dvh;
}

.container {
  overflow: hidden;
  z-index: 1;
  padding-bottom: 2rem;
  min-height: 94dvh;
  display: grid;
  grid-template-areas:
    ".    top    ."
    "left  .   right"
    ".   bottom  .";
  grid-template-columns: 1fr minmax(200px, 2fr) 1fr; /* Tres columnas */
  grid-template-rows: auto 1fr auto; /* Tres filas */
  justify-content: space-between;
  align-content: space-between;
  width: 100dvw;
  position: relative;
}

.player b {
  font-size: 0.8rem;
  text-align: center;
}

.top {
  grid-area: top;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.right {
  grid-area: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 3.2rem;
}

.left {
  grid-area: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 3.2rem;
}

.bottom {
  grid-area: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leftCards {
  display: flex;
  gap: 5px;
  flex-flow: row;
  transform: rotate(90deg);
}

.rightCards {
  display: flex;
  gap: 5px;
  flex-flow: row;
  transform: rotate(-90deg);
}

.topCards {
  display: flex;
  gap: 5px;
  flex-flow: row;
}

.bottomCards {
  display: flex;
  gap: 5px;
  flex-flow: row;
}

.playerCardsContainer {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.playerCardsDiv button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  border: 0.5px solid rgba(0, 0, 0, 0.281);
  padding: 0px;
}

.playerCardsDiv button:hover {
  border: 0.5px solid black;
}

.playerCardsDiv img {
  /* Reducir imágenes */
  vertical-align: middle;
}

.top img {
  width: 5rem;
}

.left img {
  width: 5rem;
}
.right img {
  width: 5rem;
}

.bottom img {
  width: 5rem;
}

@media (max-width: 768px) {
  .tableImage-fondo {
    width: 200dvh;
  }

  .container {
    display: block;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 1rem;
    min-height: 94dvh;
    width: 100%;
    position: relative;
  }

  .top {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .right {
    position: absolute;
    top: 37%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: fit-content;
  }

  .left {
    position: absolute;
    top: 37%;
    left: 0;
    transform: translateY(-50%);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .bottom {
    position: absolute;
    bottom: 10%;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10rem;
  }

  .playerCardsContainer {
    gap: 0.5em;
  }

  .top img {
    width: 2rem;
  }
  .left img {
    width: 2rem;
  }

  .right img {
    width: 2rem;
  }

  .bottom img {
    width: 5rem;
  }
}
