@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.headContainer {
  position: relative;
  top: 0;
  width: 100dvw;
  place-content: center;
  height: 6dvh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.sideButtons {
  justify-content: right;
  display: flex;
  flex-flow: row;
  gap: 0.5em;
  grid-column: 2 / 4;
  margin-right: 0.5rem;
}

.sessionButton {
  border: none;
  background-color: transparent;
  color: #ffffff; /* Texto oscuro para contraste */
  font-weight: 600; /* Peso de la fuente */
  cursor: pointer; /* Mano al pasar el ratón */
  transition: all 0.3s ease; /* Transición suave */
}

.sessionButton img {
  height: 3em;
  background-color: red;
  border-radius: 4px;
}

/* Efecto al pasar el ratón */
.sessionButton:hover {
  transform: translateY(-2px); /* Elevación leve */
}

/* Efecto al hacer clic */
.sessionButton:active {
  transform: translateY(0); /* Vuelve a su posición */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra más pequeña */
}

.titleContainer {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  margin-left: 1rem;
  border-radius: 0px 0px 3px 3px;
}

.headContainer h1 {
  align-self: center;
  font-family: "Raleway";
  font-size: 1em;
  text-align: left;
}
